* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
}

code {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

a, a:active, a:link, a:hover {
  text-decoration: none;
}
